// ----------------------------------------------
// Blogs Style
// ----------------------------------------------

.growl-notification-example {
    cursor: default;
    display: none;
  }
  
  .blog-img-one {
    background-image: url(../images/blog/blog-img9.jpg);
  }
  
  .blog-img-two {
    background-image: url(../images/blog/blog-img10.jpg);
  }

.blog {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}