.mandatory {
    color: red; /* Atau warna lain yang sesuai */
}

/* Button */

.btn-primary {
    background-color: #fd267d !important;
    border: none !important;
}

.btn-secondary {
    color: #fd267d !important;
    background-color: transparent !important;
    border: 1px solid #fd267d !important;
}

.btn-secondary:hover {
    cursor: pointer;
    color: #ff64a9 !important;
    border: 1px solid #ff64a9 !important;
}

.radio_group input:checked+.radio_label {
    background: #fd267d !important;
    color: white;
}


/* Sidebar */
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: #fd267d !important;
    color: #fd267d;
}

.sidebar-item:hover .sidebar-link:hover {
    background-color: #fd267d !important;
    border: 24px;
}

/* Sidebar End */

/* Header Info */
.bg-info-subtle {
    background-color: #ff64a9 !important;
}

/* Card Create */
.card-body {
    padding: 16px !important;
}

/* Card End */


/* Header Info End */
